
<%- include ('./partials/header') %> 

    <main>
        <section class="container" id="container">

            <% if (now) { %>
                <h1 class="heading">Filmes no Cinema :</h1>
                <hr>
            <% } else { %>
                <h1 class="heading">Filmes :</h1>
                <hr>
                <% } %> 

            
                <% if (messages) { %>
                  <div class="flash-container">
                      <p><%= messages.msg %> </p>
                  </div>
                  
             <% } %>
            
            <div class="row movies-container">
                <% movies.forEach(movie => { %>
                        <div class="card">
                            <img src="https://image.tmdb.org/t/p/original/<%= movie.poster_path %> " class="card-img-top" alt="...">
                            <h5 class="card-title"><%= movie.title %> </h5>
                            <div class="card-content">
                                    <div class="card-text"><i class="fab fa-imdb text-light"></i></div>
                                <span><%= movie.vote_average %>/10</span>
                            </div>
                            <a href="/movies/details/<%= movie.id %> " class="btn">ver detalhes</a> 
                      </div>
                <% }) %>
                
              </div>

              <div class="pagination-container">
                  <form action="/movies" method="get">
                    <input type="hidden" name="next" value="1">
                    <button type="submit">next</button>
                  </form>
                  <form action="/movies" method="get">
                    <input type="hidden" name="prev" value="1">
                    <button type="submit">prev</button>
                  </form>
              </div>

        </section>
    </main>

    <!--<a target="_blank" href="https://icons8.com/icon/43640/monitor">Monitor</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->

    <%- include ('./partials/footer') %>